<H3>Feature Engineering Assignment on high school students dataset. <br>
Data set has following dimensions and features Students demographics, study habits, parental involvement, extracurricular activities, and academic performance. <br>
The target variable- GPA </H3>

 <h1 style="background-color:#ff6347;">Task 1<h1><br>
 <b>Identify the type of each of the attributes in the dataset</b>

<b>Steps:</b><br>
1. Load the data frame in pandas dataframe
2. View few data records with df.head
3. Describe data set to get initial statistical measures
4. View data values to identify the type of data

In [11]:
# Import required python libraries for processing
import numpy  as np
import pandas as pd

In [4]:
# load the csv file in a pandas data frame using function read_csv
Student_df = pd.read_csv('Student_performance_data.csv')

# print first 5 records of dataframe Student_df
print(Student_df.head(5))

   StudentID   Age  Gender  Ethnicity  ParentalEducation  StudyTimeWeekly  \
0       1001  17.0       1          0                  2        19.833723
1       1002  18.0       0          0                  1        15.408756
2       1003  15.0       0          2                  3         4.210570
3       1004  17.0       1          0                  3        10.028829
4       1005  17.0       1          0                  2         4.672495

   Absences  Tutoring  ParentalSupport  Extracurricular  Sports  Music  \
0       7.0       1.0              2.0                0     0.0    1.0
1       0.0       0.0              1.0                0     0.0    0.0
2      26.0       0.0              2.0                0     0.0    0.0
3      14.0       0.0              3.0                1     0.0    0.0
4      17.0       1.0              3.0                0     0.0    0.0

   Volunteering       GPA  GradeClass
0             0  2.929196           2
1             0  3.042915           1
2             0  0.112602           4
3             0  2.054218           3
4             0  1.288061           4

In [5]:
# print only column heads
Col_list = Student_df.columns
print(Col_list)

Index(['StudentID', 'Age', 'Gender', 'Ethnicity', 'ParentalEducation',
       'StudyTimeWeekly', 'Absences', 'Tutoring', 'ParentalSupport',
       'Extracurricular', 'Sports', 'Music', 'Volunteering', 'GPA',
       'GradeClass'],
      dtype='object')

In [21]:
Student_df.describe()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2375.000000,2392.000000,2392.000000,2392.000000,2358.000000,2380.000000,2367.000000,2378.000000,2392.000000,2381.000000,2180.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468632,0.510870,0.877508,1.746237,9.761567,14.546639,0.301225,2.122372,0.383361,0.303234,0.197248,0.157191,1.906186,2.983696
std,690.655244,1.124404,0.499986,1.028476,1.000411,5.658241,8.463651,0.458887,1.122941,0.486307,0.459752,0.398012,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.030526,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.653180,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408107,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In quantative feature only GPA,Study TimeWeekly is continous other are discrete wholenumbers without fractions.
The above function gives good insights about spread of Quantitative features

In [36]:
#encoding  logic for column name and types of data
task1_df = pd.DataFrame()
task1_df['Columns']=Col_list
Nominal ,Ratio,Ordinal,Interval,C,D= 'Nominal','Ratio','Ordinal','Interval','Continous','Discrete'
task1_df['Type'] = [Nominal,Ratio,Nominal,Nominal,Nominal,Ratio,Ratio,Nominal,Nominal,Nominal,Nominal,Nominal,Nominal,Ratio,Ordinal]
reason_tmp=[]
task1_df['Binary']=[False,False,True,False,False,False,False,True,False,True,True,True,True,False,False]
task1_df['Discrete_continous']=[D,D,D,D,D,C,D,D,D,D,D,D,D,C,D]
for type,b in zip(task1_df['Type'],task1_df['Binary']) :
    if type in [Nominal,Ordinal]:
        Prefix ='*Catergorical,Qualitative*' 
        if type == Nominal:
            order ="*Discrete labels not ordered or ranked*"
        else:
             order ="*Discrete labels with order, but no  same difference between order* "

    else:
        Prefix ='*Numerical,Quantative*'
        if type == Ratio:
            order ="*ordered units that have the same difference and zero reference.*Â "
        else:
             order ="*ordered units that have the same difference and No zero reference. *"
    if b=='True':
        Binary =" *special features takes on binary values*"
    else:
        Binary =' '
    reason_tmp.append(Prefix + ' '+order + Binary)
         
task1_df['Reason'] =reason_tmp

markdown_table = task1_df.to_markdown(index=False)
print(markdown_table)

| Columns           | Type    | Binary   | Discrete_continous   | Reason                                                                                         |
|:------------------|:--------|:---------|:---------------------|:-----------------------------------------------------------------------------------------------|
| StudentID         | Nominal | False    | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| Age               | Ratio   | False    | Discrete             | *Numerical,Quantative* *ordered units that have the same difference and zero reference.*       |
| Gender            | Nominal | True     | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| Ethnicity         | Nominal | False    | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| ParentalEducation | Nominal | False    | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| StudyTimeWeekly   | Ratio   | False    | Continous            | *Numerical,Quantative* *ordered units that have the same difference and zero reference.*       |
| Absences          | Ratio   | False    | Discrete             | *Numerical,Quantative* *ordered units that have the same difference and zero reference.*       |
| Tutoring          | Nominal | True     | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| ParentalSupport   | Nominal | False    | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| Extracurricular   | Nominal | True     | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| Sports            | Nominal | True     | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| Music             | Nominal | True     | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| Volunteering      | Nominal | True     | Discrete             | *Catergorical,Qualitative* *Discrete labels not ordered or ranked*                             |
| GPA               | Ratio   | False    | Continous            | *Numerical,Quantative* *ordered units that have the same difference and zero reference.*       |
| GradeClass        | Ordinal | False    | Discrete             | *Catergorical,Qualitative* *Discrete labels with order, but no  same difference between order* |

 <h1 style="background-color:#ff6347;">Task 2<h1><br>
 <b>Name the attribute(s) which have missing data. How many data points are missing? How will you handle missing data ?</b>

In [39]:
Student_df.shape

(2392, 15)

There are 2392 rows and 15 columns

In [38]:
Student_df.count()

StudentID            2392
Age                  2375
Gender               2392
Ethnicity            2392
ParentalEducation    2392
StudyTimeWeekly      2358
Absences             2380
Tutoring             2367
ParentalSupport      2378
Extracurricular      2392
Sports               2381
Music                2180
Volunteering         2392
GPA                  2392
GradeClass           2392
dtype: int64

We see that there are  2392 rows and columns like <b>Age,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Sports,Music </b>have missing value

In [45]:
Student_df.isna().sum()

StudentID              0
Age                   17
Gender                 0
Ethnicity              0
ParentalEducation      0
StudyTimeWeekly       34
Absences              12
Tutoring              25
ParentalSupport       14
Extracurricular        0
Sports                11
Music                212
Volunteering           0
GPA                    0
GradeClass             0
dtype: int64

The above table shows columns,missing values counts.

The missing values will be handled with technniques like
1. Dropping rows with null values
2. imputing rows with Zero,mean,median,mode,ramdom values.

 <h1 style="background-color:#ff6347;">Task 3<h1><br>
 <b>Identify the type of each of the attributes in the dataset</b>

we will not use the strategy of dropping rows as there will be loss of training and testing data volume.<br>
We will use different imutation technnique based on data type and domain context.